body {
  color: white;
  background-color: #FFD936;
  font-size: 16px;
  font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Helvetica Neue;
}

.app {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  .cities {
    width: 30%;
  }
  .active-city {
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 80px;
    padding: 10px 15px;
    border-left: 1px solid white;
    border-radius: 4px;
    h3 {
      margin-top: 0;
    }
  }
}

.city {
  cursor: pointer;
}

.active {
  color: red;
}

h1 {
  color: red;
}